/* #=== Fonts ===# */
/* #== Satisfy ==# */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
/* #== Poppins ==# */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* #== Navbar ==# */
nav{
    display: flex;
    background-color: #03441e;
    justify-content: space-between;
    padding: 20px;
    color: #2C2C2C;
    height: 20px;
    align-items: center;
}

nav .logo{
    font-family: 'Satisfy';
    letter-spacing: 2px;
}

nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a{
    color: #f3f1f1;
    text-decoration: none;
    font-size: .8em;
}

nav ul li a:hover{
    color: #3a3939;
}

.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: #f8f6f6;
    transition: all 0.5s;
}

/* #=== Humburger Menu Animation ===# */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 0;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: #f5f1f1;
    transform: rotate(43deg) translate(-1px, -1px);    
}

.menu-toggle input:checked ~ span:nth-child(4){
    background-color: #f7f5f5;
    transform: rotate(-45deg) translate(-1px ,0px);    
}

.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}

/* #=== Ukuran Tablet ===# */
@media screen and (max-width: 768px){
    nav ul {
        width: 50%;
    }
}

/* #=== Ukuran Mobile ===# */
@media screen and (max-width: 576px){
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 75%;
        height: 100vh;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #048138;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
    }

    nav ul.slide{
        transform: translateX(0);
    }

    .menu-toggle{
        display: flex;
    }
}


.u-text-placeholder {
  background-color: #a2a8b1;
  display: inline-block;
  height: 9px;
  text-align: center;
}

.l-cards {
  display: grid;
  grid-gap: 30px;
  // grid-template-columns: repeat(3, 300px);
  // grid-template-columns: repeat(auto-fit, 300px);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  justify-items: center;
  padding: 30px;
  text-align: center;
}

.c-card {
  background-color: #6a8a77;
  border-radius: .6rem;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  text-align: center;
  
  .image {
    align-items: center;
    background-color: #b5b9c1;
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
    display: flex;
    flex: 5;
    justify-content: center;
    overflow: hidden;
    text-align: center;
  }
  
.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    padding: 15px;
    text-align: center;
  }
  
}